## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [30]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")


clean_hotel_df = vacation_df
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,6,Carnarvon,AU,64.47,-24.8667,113.6333,Hospitality Carnarvon
1,9,Ganzhou,CN,62.01,28.8184,115.4327,Laotou Farm Restaurant Hostel
2,11,Durgapur,IN,69.98,23.4833,87.3167,OYO 23635 Sher E Bengal
3,12,Cape Town,ZA,61.27,-33.9258,18.4232,Southern Sun Waterfront Cape Town
4,16,Tuy Hoa,VN,74.28,13.0833,109.3000,CenDeluxe Hotel Tuy Hoa

In [31]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [32]:
# 4a. Add a marker layer for each city to the map.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df.City=='Pimentel']
vacation_end = vacation_df.loc[vacation_df.City=="Pimental"]
vacation_stop1 = vacation_df.loc[vacation_df.City=="Moche"]
vacation_stop2 = vacation_df.loc[vacation_df.City=="Chimbote"] 
vacation_stop3 = vacation_df.loc[vacation_df.City=="Huarmey"]

In [82]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
start = start[0,[4,5]]
end = start

stop1 = vacation_stop1.to_numpy()
stop1 = stop1[0,[4,5]]
stop2 = vacation_stop2.to_numpy()
stop2 = stop2[0,[4,5]]
stop3 = vacation_stop3.to_numpy()
stop3 = stop3[0,[4,5]]
#print(start)
#print(start[0,[4,5]])

In [97]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_round = gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(vacation_round)
fig

Figure(layout=FigureLayout(height='420px'))

In [100]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,523,Pimentel,PE,71.89,-6.8367,-79.9342,Casona Del Muelle
1,356,Moche,PE,66.38,-8.1711,-79.0092,Wyndham Costa del Sol Trujillo
2,426,Chimbote,PE,67.05,-9.0853,-78.5783,Hotel Viera Chimbote
3,81,Huarmey,PE,68.56,-10.0681,-78.1522,Hotel Miramar

In [115]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>

<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
location_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
print(locations)

       Lat      Lng
0  -6.8367 -79.9342
1  -8.1711 -79.0092
2  -9.0853 -78.5783
3 -10.0681 -78.1522

In [122]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(-8, -78.0), zoom_level=7)
markers = gmaps.marker_layer(locations,info_box_content=location_info)
fig.add_layer(markers)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))